.Background{
	background-color: #fff !important;
}
.main-pge-bgclr{
	background-color: #eee;
}
.sapMIBar.sapMHeader-CTX {
    background-color: #fff !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(0.33,#fff),color-stop(0.75,#fff),color-stop(1,#ededed));
    background: -webkit-linear-gradient(top,#fff 0,#fff 33%,#fff 75%,#ededed 100%);
    background: linear-gradient(top,#fff 0,#fff 33%,#fff 75%,#ededed 100%);
}
.BRDRDS .sapUiFormResGridCont{
	border-radius : 5px;
}
.login_MRG5PX{
	margin : 5%;
}
.MRG0AUT{
	margin: 0 auto;
    display: table;
}
.menu_imgWidth{
	/* width: 61px !important; */
    display: flex !important;
    margin: 0 auto !important;
    padding: 0px 41px 0 0 !important;
}
.custLbl{
    font-size: 20px;
    padding: 10px;
    border: none !important;
}
.hdr_clr{
	background-color: #d7d7d7 !important;
}
.clr_white{
	background-color: #eee !important;
}
.clr_red{
	color: #177e4e !important;
	font-weight: 800 !important;
}
.sapUiUfdShellHeadItm>span, .sapUiUfdShellHeadUsrItm {
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    color: #177e4e !important;
    background-color: #fff !important;
}
.sapMIBar-CTX .sapMBtnInner{
	color: #177e4e !important;
	font-weight: 800 !important;
}
.sapMBtn:hover>.sapMBtnHoverable {
    background-image: none;
    background-color: #fff !important;
}
.sapMBtn:focus>.sapMBtnInner.sapMFocusable {
	background: #177e4e !important;
    color: #fff !important;
}
.newArraivals {
    padding: 0 16px !important;
}
.sapMSegBBtn.sapMSegBBtnSel {
    background: #177e4e !important;
    color: #fff !important;
    border-color: #177e4e !important;
}
.sapMSegBBtn {
    font-size: 0.875rem;
    height: 2.375rem;
    line-height: 2.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-shadow: none;
    color: #177e4e !important;
    border: 1px solid #dedede;
    border-right: 0;
    background-color: #ffffff;
}
.Label_REQ::before{
	content : "" !important;
}
.Label_REQ::after{
	content : " *" !important;
	color : red;
}
.sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #177e4e !important;
}
.sapMPanelContent {
    border-bottom: none !important;
}
/* .sapUiUfdSpltContH .sapUiUfdSpltContPane {
    border-right: 1px solid #cdcdcd;
    bottom: 0;
    width: 51px !important;
}
.sapUiUfdSpltContCanvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30px;
} */
.buttonPadd{
	padding: 4px;
}
.menuShow{
	margin-left: 0px;
	 -webkit-transition: all 1.5s;  -moz-transition: all 1.5s;  -o-transition: all 1.5s;  transition: all 1.5s;
}
.menuHide{
	margin-left: -45px;
	 -webkit-transition: all 1.5s;  -moz-transition: all 1.5s;  -o-transition: all 1.5s;  transition: all 1.5s;
} 
.Show{
	display:iniline-block !important;
}
.Hide{
	display:none !important;
}
.sapMPageHeader::before {
    border-top: none !important;
}
.sapMBtnIcon {
	color: #177e4e !important;
    background-color: #fff;
    font-size: 1.375rem;
    line-height: 2.375rem;
    width: 2.375rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
    text-shadow: 0 0px 0 rgba(0,0,0,0.5) !important;
}
.sapMBtnIcon:hover {
	color: #fff !important;
    background-color: #177e4e;
    font-size: 1.375rem;
    line-height: 2.375rem;
    width: 2.375rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
}
.menu-main {
	color: #fff;
    background-color: #177e4e;
    font-size: 1.375rem;
    line-height: 2.375rem;
    width: 2.375rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.375rem;
}
.homePage{
	background-color: #fff !important;
    height: 566px !important;
}
.v-title {
	font-family: Tahoma,sans-serif;
 	font-size: 16px; 
 	font-style: normal; 
 	font-variant: normal;
 	font-weight: 800; 
  	line-height: 15.4px; 
  	fill:green;
}
.v-label {
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
 	font-style: normal;
}
.viz-axis-title {
	fill:green;
	font-weight: 800;
}
.slideTilesLayout {
	padding: 0.5rem;
}
.homeImg{
	width: 30% !important;
	height: 55px !important;
}

.sapMIBar.sapMSubHeader-CTX {
   background-color: #fff !important;
}
.sapUiVlt{
	display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: 99% !important;
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    height: 140px;
    /* background-image: url('../images/dealer.png');
    background-size : cover; */
}
.sap-phone .sapMCustomTile {
    width: 10.4em;
    height: 9em !important;
    margin: 17px 0px 6px 19px !important;
}
.sapMCustomTile {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-transition-property: transform3d;
    -webkit-transition-duration: 0.2s;
    transition-property: transform3d;
    transition-duration: 0.2s;
    width: 13em;
    height: 9em !important;
    margin: 0;
}
.displyFlex{
	display: inline-flex !important;
}
.green-clr{
	color: #177e4e !important;
}
.txt-green-clr{
	color: #177e4e !important;
	font-weight: 800;
}
.green-bgclr{
	backgroung-color: #177e4e !important;
}
.txt-align-centre{
	text-align: center !important;
}
.icon-width{
	width: 100%;
    margin: 17% 17%;
}
.width100{
	width: 100% !important;
}
.custmTile-no{
	width: 21px;
    margin-top: 12px;
    float: right;
    margin-left: 87px !important;
}
.brd-btm1px{
	border-bottom: 1px solid #ccc;
}
.padd18{
	padding: 0px 22px;
}
.padd-Rght26{
	padding-right: 26px;
}
.sapMText {
    font-size: 17px !important;
}
.mrg-Top13{
	margin-top: 13px;
}
/* .sapMBtnPaddingRight {
    padding-right: 7.70rem !important;
} */
.sapMBtn:active>.sapMBtnInner.sapMActive {
	background: #D2070C !important;
    color: #fff !important;
}
.sapMCustomTile:focus {
    outline: 0px dotted #005483;
}
.sapMCustomTile:hover {
    outline: 1px solid green;
}
html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: 0px dotted #005483;
}
.sapMIBar .sapMBarChild:first-child {
    margin-left: -1px !important;
}
.bg-header .sapMBar{
	background-color: blue !important;
}
.sapUiTable>.sapUiTableHdr {
    border: none;
    border-bottom: 2px solid transparent;
    height: 41px !important;
    padding: 10px !important;
    margin-bottom: 2px !important;
    background-color: transparent;
}
.sapUiTable .sapUiTableHdrTitle {
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    color: #177e4e !important;
}
.btnclr{
	background-color: #eee !important;
}
.sapMBtnInner{
	border: 0 !important;
	background-color: #fff !important;
    background: -ms-linear-gradient(top,#fff 0,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#fff));
    background: -webkit-linear-gradient(top,#fff 0,#fff 100%);
    background: linear-gradient(top,#fff 0,#fff 100%);
}
.leftMenu .sapMBtnContent {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    line-height: 2.5rem;
    width: 100% !important;
    background-color: #fff !important;
    color: #177e4e !important;
}
.sapUiUfdShellHeadBegin, .sapUiUfdShellHeadCenter, .sapUiUfdShellHeadEnd{
	background-color: #fff !important;
	border-bottom: 1px solid #eee !important;
}
.sapUiUfdShellSearch {
    background-color: #fff !important;
}
.sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    color: #0079ad;
    font-weight: 800;
}
.sapMIBar-CTX.sapMFooter-CTX {
    color: #ffffff;
    text-shadow: 0 0.0625em 0 rgba(0,0,0,0.5);
    background-color: #177e4e !important;
    background-image: none;
    border-top: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
